@page "/"
@using System.Web;
<h1 class="text-success h1 font-weight-bold"><i class="fas fa-user-shield"></i> Chào mừng đến với trang web Admin!</h1>
<img src="/images/simplestore.png" width="1200" height="600" />
